[div][attr="class","adtemp"]
  
[div][attr="class","adtempb"]
    Face Claims
    [span]NAMES &amp; FACES TO BE ADDED TO THE LIST OF GRAVES...[/span]
  [/div]
  
  [div][attr="class","adinfor"]
   [blockquote]
     All face claims are listed here alongside the character they belong to. If the face claim you want to use is not listed here, then it is up for grabs. Please make certain to make reservations since face claims are first come first serve.
   [/blockquote]
   
   [span][h1]A B C D [/h1][/span]
   
  [blockquote][b]A CERTAIN MAGICAL INDEX[/b], Accelerator -- @kyoyasilverman    [break]
[b]AMNESIA[/b], Heroine -- @goosey    [break]
[b]AMNESIA[/b], Ikki -- @nicholas    [break]
[b]AMNESIA[/b], Kent --  @alain  [break]
[b]AMNESIA[/b], Toma -- @remmy    [break]
[b]AMNESIA[/b], Ukyo --  @benjamin    [break]
[b]ARCANA FAMIGLIA[/b], Jolly -- @brasti    [break]
[b]ARCANA FAMIGLIA[/b], Luca -- @xander    [break]
[b]ASSASSINATION CLASSROOM[/b], Nagisa Shiota -- @zee    [break]
[b]BAYBLADE[/b], Kyoya Tategami -- @conall    [break]
[b]BEN-TO[/b], Sen Yarizui -- @robin  [break]
[b]BLACK BULLET[/b], Enju Aihara --  @willow    [break]
[b]BLACK BUTLER[/b], Ciel Phantomhive --  @raoulbellerose  [break]
[b]BLACK BUTLER[/b], Grell -- @styx       [break]
[b]BLACK BUTLER[/b], Undertaker -- @wren    [break]
[b]BOKU NO HERO ACADEMIA[/b], Dabi -- @jax    [break]
[b]BOKU NO HERO ACADEMIA[/b], Sako Atsuhiro --  @jean    [break]
[b]BOKU NO HERO ACADEMIA[/b], Stain -- @29211923jn    [break]
[b]BUNGO STRAY DOGS[/b], Dazai Osamu --  @eojin  [break]
[b]BUNGO STRAY DOGS[/b], Nakajima Atsushi --  @meredith    [break]
[b]B-PROJECT[/b], Ryuuji Korekuni -- @zeon    [break]
[b]CLANNED[/b], Tomoyo Sakagami -- @niusha    [break]
[b]CLASSI9[/b], Taki Ren/Rentarou --  @takemizukachi    [break]
[b]CHUUNIBYOU DEMO KOI GA SHITAI![/b], Rikka Takanashi --  @renee                                [break]
[b]DANGANRONPA[/b], Kyouko Kirigiri -- @christina    [break]
[b]DANGANRONPA 2[/b], Mikan Tsumiki -- @min    [break]
[b]DANMACHI[/b], Hestia --  @rin  [break]
[b]DARKER THAN BLACK[/b], Hei -- @zephyr       [break]
[b]DEAD BY DAYLIGHT[/b], Dwight Fairfield --  @malakai                                    [break]
[b]DETECTIVE CONAN[/b], Ran Mouri -- @zory  [break]
[b]DEVIL SURVIVOR 2[/b], Kuze Hibiki -- @jamie    [break]
[b]DIABOLIK LOVERS[/b], Subaru Sakamaki -- @tobi    [break]
[b]DOG DAYS[/b], Brioche d'Arquien -- @allura    [break]
[b]DOG DAYS[/b], Yukikaze Panettone -- @nyla    [break]
[b]DRAGON AGE: INQUISITION[/b], Dorian Pavus -- @dominic       [break]
[b]DRAMATICAL MURDER[/b], Noiz -- @bobby    [break]
[b]D. GRAY-MAN[/b], Allen Walker -- @greilulf    [break]
[b]D. GRAY-MAN[/b], Cross Marian -- @roland     [break]
[b]D. GRAY-MAN[/b], Lavi -- @octavio    [break]
[b]D. GRAY-MAN[/b], Nea Campbell -- @grantley    [break]
[b]D. GRAY-MAN[/b], Road Kamelot -- @rosa    [break]
[b]D. GRAY-MAN[/b], Tyki Mikk -- @emmet[/blockquote]
   
   [span][h1]E F G H[/h1][/span]
   
   [blockquote][b]ENSEMBLE STARS[/b], Rei Sakuma -- @sawyer    [break]
[b]ENSEMBLE STARS[/b], Ritsu Sakuma -- @arlo    [break]
[b]FATE/EXTELLA LINK[/b], Tamamo no Mae --  @rinnyrin    [break]
[b]FATE/GRAND ORDER[/b], Anastasia -- @panya  [break]
[b]FATE/GRAND ORDER[/b], Oda Nobunaga -- @aliana   [break]
[b]FATE/STAY NIGHT[/b], Rin Tohsaka -- @rinrin    [break]
[b]FREE![/b], Haruka Nanase --  @yuri    [break]
[b]FIRE EMBLEM[/b], Beruka -- @persephone    [break]
[b]FIRE EMBLEM[/b], Chrom --  @matthew  [break]
[b]FIRE EMBLEM[/b], Gaius -- @desmond                     [break]
[b]FIRE EMBLEM[/b], Ike -- @fritz     [break]
[b]FIRE EMBLEM[/b], Leo -- @lachlan    [break]
[b]FIRE EMBLEM[/b], Lukas -- @silas    [break]
[b]FIRE EMBLEM[/b], Python -- @umberto    [break]
[b]FOX SPIRIT MATCHMAKER[/b], Tosan Koko/Susu -- @serenine    [break]
[b]FUTURE DIARY[/b], Aru Akise -- @yves    [break]
[b]GINTAMA[/b], Sataka Gintoki -- @satireabound    [break]
[b]GRANBLUE FANTASY[/b], Narmaya --  @lala  [break]
[b]HAPPY TREE FRIENDS[/b], Flippy --  @nathan                                    [break]
[b]HAPPY TREE FRIENDS[/b], Splendid -- @harrison    [break]
[b]HAPPY TREE FRIENDS[/b], Splendont -- @lambert  [break]
[b]HAPPY TREE FRIENDS[/b], The Mole --  @felix                                    [break]
[b]HIRUNAKA NO RYUUSEI[/b], Shishio Satsuki --  @leon    [break]
[b]HYOUKA[/b], Houtarou Oreki --  @josiah    [break]
[b]HYPNOSIS MIC[/b], Ichiro Yamada --  @grayson[/blockquote]
   
   [span][h1]I J K L[/h1][/span]
   
   [blockquote][b]IB[/b], Garry --  @garret    [break]
[b]INAZUMA[/b], Afuro Terumi --  @alec  [break]
[b]INFINITE STRATO[/b], Laura Bodewig -- @anise    [break]
[b]INU X BOKU SS[/b], Ririchiyo Shirakiin -- @nalin    [break]
[b]K PROJECT[/b], Kuroh Yatogami --  @holden  [break]
[b]KAMIGAMI NO ASOBI[/b], Apollon Anaga Belea --  @solo    [break]
[b]KANTAI COLLECTION[/b], Battleship Re-Class --  @zeethefifth  [break]
[b]KEKKAI SENSEN[/b], Klaus V. Reinherz -- @clyde    [break]
[b]KEKKAI SENSEN[/b], Mary MacBeth (White) --  @rinny    [break]
[b]KIZNAVIER[/b], Agata Katsuhira --  @rowan    [break]
[b]KIZNAIVER[/b], Chidori Takashiro -- @evelyn    [break]
[b]KIZNAIVER[/b], Noriko Sonozaki --  @luna  [break]
[b]KONOSUBA[/b], Aqua --  @kayla  [break]
[b]KONOSUBA[/b], Megumin -- @ariel  [break]
[b]KUROKO NO BASUKE[/b], Kuroko Tetsuya -- @characternamehere    [break]
[b]KUROKO NO BASUKE[/b], Ryouta Kise -- @tristan      [break]
[b]KYOUKAI NO KANATA[/b], Hiroomi Nase -- @zuriel    [break]
[b]LIFE IS STRANGE[/b], Chloe Price -- @kasey    [break]
[b]LIFE IS STRANGE[/b], Nathan Prescott -- @jordandire    [break]
[b]LUCKY DOG[/b], Giulio Di Bondone --  @ryker  [/blockquote]
   
   [span][h1]M N O P[/h1][/span]
   
   [blockquote][b]METAL GEAR SOLID[/b], Big Boss (Snake) -- @james    [break]
[b]MIKAGURA SCHOOL SUITE[/b], Eruna Ichinomiya --  @rinnyrin    [break]
[b]MUSHISHI[/b], Ginko --  @orcus    [break]
[b]MYSTIC MESSENGER[/b], Hyun Ryu (Zen) -- @raiores    [break]
[b]MYSTIC MESSENGER[/b], Luciel Choi (707) -- @dexter       [break]
[b]NAGI NO ASUKARA[/b], Tsumugu Kihara -- @phoenix    [break]
[b]NARUTO[/b], Tobirama Senju --  @bellamy    [break]
[b]NATSUME YUUJINCHOU[/b], Natsume Takashi --  @takumisatou   [break]
[b]NIER AUTOMATA[/b], YoRHa No.A Type 2 -- @bea       [break]
[b]NORAGAMI[/b], Yukine -- @preston    [break]
[b]NURA OF THE YOKAI CLAN[/b], Nurarihyon/Kuroumaru -- @dusk  [break]
[b]ONE PIECE[/b], Paulie -- @crow    [break]
[b]ONE PUNCH MAN[/b], Genos -- @abel    [break]
[b]OURAN HIGH SCHOOL HOST CLUB[/b], Tamaki Suoh -- @blackwolf    [break]
[b]OVERLORD[/b], Momon --  @zeethesecond    [break]
[b]OVERWATCH[/b], Sombra -- @kaitlynn       [break]
[b]OVERWATCH[/b], Widowmaker -- @sonya    [break]
[b]PERSONA[/b], Marie --  @zeethethird    [break]
[b]PERSONA 5[/b], Futaba Sakura --  @rinn    [break]
[b]PSYCHO PASS[/b], Shogo Makishima --  @marcus  [break]
[b]PUELLA MAGI MADOKA MAGICA[/b], Kyoko Sakura --  @jaimez[/blockquote]
   
   [span][h1]Q R S T[/h1][/span]
   
   [blockquote][b]RWBY[/b], Cinder Fall -- @valentine             [break]
[b]SENRAN KAGURA[/b], Miyabi -- @corpsekiller    [break]
[b]SENYU[/b], Ross -- @nathaniel  [break]
[b]SERAPH OF THE END[/b], Mikaela Hyakuya --  @blazewing    [break]
[b]SHALL WE DATE: ANGEL OR DEVIL[/b], Raug -- @levi    [break]
[b]SHALL WE DATE: GUILTY ALICE[/b], Joker Blaze -- @vincent    [break]
[b]SPECIAL A[/b], Kei Takishima --  @aidan    [break]
[b]STEINS;GATE[/b], Kurisu Makise -- @demetria       [break]
[b]SUPERNATURAL[/b], Fem!Castiel -- @viktoriya   [break]
[b]SWORD ART ONLINE[/b], Asuna Yuuki -- @vashti       [break]
[b]TALES OF BERSERIA[/b], Velvet Crowe -- @fleur1    [break]
[b]TEKKEN[/b], Robert Richards --  @zeethefourth    [break]
[b]TENGEN TOPPA GURREN LAGGAN[/b], Yoko Littner --  @kuri    [break]
[b]TERRA FORMARS[/b], Michelle K. Davis --  @amelia    [break]
[b]THE ANCIENT MAGUS'S BRIDE[/b], Hatori Chise -- @jessie    [break]
[b]THE DEVIL IS A PART-TIMER[/b], Emi Yusa -- @lilliana    [break]
[b]THE IRREGULAR AT MAGIC HIGH SCHOOL[/b], Shiba Tatsuya -- @zachary    [break]
[b]TOKYO GHOUL[/b], Touka Kirishima -- @layla  [break]
[b]TOKYO GHOUL[/b], Uta -- @koda  [break]
[b]TOKYO RAVENS[/b], Touji Ato -- @vylad    [break]
[b]TOUHOU[/b], Patchouli Knowledge -- @quinnwistalia    [break]
[b]TOUHOU[/b], Reimu Hakurei -- @tenshilavoie    [break]
[b]TOUHOU[/b], Rinnosuke Morichika -- @korva    [break]
[b]TOUHOU[/b], Sagume Kishin -- @angellavoie    [break]
[b]TOUHOU[/b], Shinki -- @naiavrilling    [break]
[b]TOUHOU[/b], Toyosatomimi no Miko -- @xen    [break]
[b]TOUKEN RANBU[/b], Ookurikara -- @gideon[/blockquote]
   
   [span][h1]U V W X[/h1][/span]
   
   [blockquote][b]UNDERTALE[/b], Chara -- @zeethesixth  [break]
[b]VOCALOID[/b], Gumi -- @danika                  [break]
[b]VOCALOID[/b], Stardust -- @kaylie    [break]
[b]WOLF'S RAIN[/b], Blue -- @hel[/blockquote]
   
   [span][h1]Y Z #[/h1][/span]
   
   [blockquote][b]YATAMOMO[/b], Momo -- @namehere    [break]
[b]ZOMBIE LOAN[/b], Akatsuki Chika --  @haru[/blockquote]

[span][h1]TO CLAIM[/h1][/span]
[blockquote][code][code*][b]ANIMANGA SERIES[/b], face name -- @character[/*code][/code][/blockquote][/div]
  
[/div]

[div style="height:0px;overflow:hidden;"]
[googlefont=Quicksand:400,500,700][nospaces]
[newclass=.adtemp]width:460px;padding:20px;border:1px solid #e1e1e1;margin:0 auto;[/newclass]
[newclass=.adtempb]padding:30px 35px;background:#333;font:400 22px/25px Quicksand;color:#aaa;text-transform:uppercase;[/newclass]
[newclass=.adtempb span]font:500 9px/13px Quicksand;display:block;[/newclass]
[newclass=.adinfor]background:#fff;color:#222;text-align:justify;padding:10px;[/newclass]
[newclass=.adinfor blockquote]margin:20px 45px;font:10px/13px tahoma;[/newclass]
[newclass=.adinfor span h1]padding-left:10px;font:700 32px/32px Quicksand;word-spacing:10px;display:block;text-transform:uppercase;border-bottom:1px solid #eee;[/newclass][/div]
